.passwordContainer {
  display: flex;
  margin: 20px;
}
.passwordContainer .form-group {
  margin: 15px 0;
}

@media only screen and (max-width: 768px) {
  .passwordContainer {
    flex-direction: column-reverse;
  }
}
